{% extends "voting/base.html" %}
{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <b>Online Voting System</b>
        </div>

        <div class="login-box-body">
            <!-- <p class="login-box-msg">Sign in to start your session</p> -->

            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat" name="login"><i
                                class="fa fa-sign-in"></i> Log In</button>
                    </div>
                    <div class="pull-right col-xs-4">
                        <a  class="btn btn-warning btn-block btn-flat" href="{% url 'account_register' %}"><i class="fa fa-user-plus"></i> Register</a>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="login-box-body" style="margin-top: 20px;">
            <h4 class="text-center">Demo Accounts</h4>
            <div class="row">
                <div class="col-xs-6">
                    <strong>Voter 1</strong><br>
                    Email: demovoter1@demo.com<br>
                    Pass: demo123<br>
                    <button class="btn btn-info btn-xs btn-block" style="margin-top:5px;" onclick="demoLogin('demovoter1@demo.com', 'demo123')">Click to Login</button>
                </div>
                <div class="col-xs-6">
                    <strong>Voter 2</strong><br>
                    Email: demovoter2@demo.com<br>
                    Pass: demo123<br>
                    <button class="btn btn-info btn-xs btn-block" style="margin-top:5px;" onclick="demoLogin('demovoter2@demo.com', 'demo123')">Click to Login</button>
                </div>
            </div>
            
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12">
                   <strong>Admin (Custom)</strong><br>
                   Email: admin@admin.com<br>
                   Pass: admin<br>
                   <button class="btn btn-danger btn-xs btn-block" style="margin-top:5px;" onclick="demoLogin('admin@admin.com', 'admin')">Click to Login (Admin)</button>
                </div>
            </div>
        </div>
        
        <script>
        function demoLogin(email, password) {
            document.querySelector('input[name="email"]').value = email;
            document.querySelector('input[name="password"]').value = password;
            document.querySelector('form').submit();
        }
        </script>
    </div>

{% endblock content %} 
